/hoverset/apps/
/hoverset/catalogue.py
/hoverset/data.*
/hoverset/main.py
__pycache__/
*.pyc
*.pyd
venv/
env/
.env
.vnv
ENV/
env.bak/
venv.bak/
.python-version
build/
dist/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.so
*.manifest
*.spec
.idea/
