__pycache__/
*.pyc
*.pyd
venv/
env/
.env
.vnv
ENV/
env.bak/
venv.bak/
.python-version
build/
dist/
eggs/
.eggs/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.so
*.manifest
*.spec
.idea/

# extra for documantation builds
docs/_build/