/* Write all styles here and access them from the style delegator using dot syntax */
.colors {
    primarydark: #303030;
    primarydarkaccent: #a0a0a0;
    primary: #f7f7f7;
    primaryaccent: #3a3a3a;
    accent: #3d8aff;

}
.spinbox{
    background: #303030;
    foreground: #f7f7f7;
    buttonbackground: #303030;
    buttonup: flat;
    buttondownrelief: flat;
    relief: flat;
    highlightthickness: 1;
    highlightcolor: #3d8aff;
    highlightbackground: #a0a0a0;
    font: consolas 10;
    insertbackground: #f7f7f7;
    insertwidth: 1;
    disabledbackground: #303030;
    disabledforeground: #a0a0a0;
}

.canvas{
    background: #303030;
    highlightthickness: 0;
}

.icon_large{
    font: TkDefaultFont 30;
    foreground: #f7f7f7;
    background: #303030;
}

.icon_medium, .icon_medium_accent_1{
    font: TkDefaultFont 20;
    foreground: #f7f7f7;
    background: #303030;
}

.icon_medium_accent_1{
    foreground: #3d8aff;
}

.text_accent_1{
    background: #303030;
    foreground: #3d8aff;
    font: TkDefaultFont 12;
}

.text_passive {
    background: #303030;
    foreground: #a0a0a0;
    font: TkDefaultFont 10;
}

.button, .button_highlight {
    background: #303030;
    foreground: #f7f7f7;
    relief: flat;
    font: TkDefaultFont 10;
    highlightthickness: 1;
    highlightcolor: #3d8aff;
    highlightbackground: #303030;
    activebackground: #303030;
    activeforeground: #f7f7f7;
    borderwidth: 1;
    cursor: hand2;
    takefocus: 1;
}

.button_highlight {
    background: #3d8aff;
    foreground: #101010;
}

.checkbutton, .radiobutton {
    background: #303030;
    foreground: #f7f7f7;
    activebackground: #3a3a3a;
    activeforeground: #f7f7f7;
    selectcolor: #303030;
    highlightbackground: #303030;
    highlightcolor: #3d8aff;
    highlightthickness: 1;
    anchor: w;
    relief: flat;
}

.hover {
    background: #4a4a4a;
}

.highlight{
    highlightthickness: 1;
    highlightcolor: #3d8aff;
    highlightbackground: #303030;
    takefocus:1;
}

.highlight_active, .highlight_active_heavy{
    highlightthickness: 1;
    highlightbackground: #6a6a6a;
    highlightcolor: #3d8aff;
    takefocus:1;
}

.highlight_active_heavy{
    highlightthickness: 2;
    highlightbackground: #3d8aff;
}

.highlight_bright{
    highlightthickness: 1;
    highlightbackground: #3d8aff;
}

.highlight_passive{
    highlightthickness: 1;
    highlightbackground: #a0a0a0;
    highlightcolor: #303030;
    takefocus:1;
}

.highlight_dim {
    highlightthickness: 1;
    highlightbackground: #3a3a3a;
    highlightcolor: #3a3a3a;
}

.no_highlight{
    highlightthickness: 0;
}

.border_highlight{
    highlightthickness: 1;
    highlightcolor: #a0a0a0;
    highlightbackground: #a0a0a0;
    takefocus:1;
}

.input{
    background: #303030;
    foreground: #f7f7f7;
    disabledbackground: #303030;
    disabledforeground: #a0a0a0;
    relief: flat;
    insertbackground: #f7f7f7;
    font: TkDefaultFont 10;
}

.text, .text_medium, .text_small {
    background: #303030;
    foreground: #f7f7f7;
    font: TkDefaultFont 10;
    disabledforeground: #a0a0a0;
}

.text_accent {
    background: #303030;
    foreground: #3d8aff;
    font: TkDefaultFont 10;
    disabledforeground: #a0a0a0;
}

.text_small{
    font: TkDefaultFont 8;
}

.text_medium{
    font: TkDefaultFont 12;
}

.text_medium_accent{
    font: TkDefaultFont 13;
    background: #303030;
    foreground: #3d8aff;
}

.surface{
    background: #303030;
}

.bright {
    background: #3a3a3a;
}

.accent{
    background: #3d8aff;
}

.text_bright{
    foreground: #f7f7f7;
}

.bright_text, .combobox{
    foreground: #303030;
    background: #f7f7f7;
}

.bright_highlight{
    highlightthickness:1;
    highlightbackground: #3d8aff;
    highlightcolor: #3d8aff;
}

.context_menu{
    background:#353535;
    tearoff: 0;
    foreground: #f7f7f7;
    activebackground: #3a3a3a;
    activeforeground: #f7f7f7;
    activeborderwidth: 0;
    borderwidth: 0;
    relief: flat;
    font: TkDefaultFont 10;
    disabledforeground: #6a6a6a;
}

.context_menu_disabled {
    foreground: #6a6a6a;
    activebackground: #2a2a2a;
    activeforeground: #6a6a6a;
}

.context_menu_item, .context_menu_selectable {

}

.context_menu_selectable {
    selectcolor: #f7f7f7
}

.combobox {
    selectbackground: #f7f7f7;
    selectforeground: #303030;
    font: TkDefaultFont 10;
}

.bright_background{
    background: #3d8aff;
}

.pane_horizontal, .pane_vertical, .pane{
    background: #303030;
    showhandle: 0;
    opaqueresize: 0;
    proxybackground: #3d8aff;
    proxyborderwidth: 1;
    proxyrelief: flat;
}

.pane_horizontal {
    orient: horizontal;
}

.pane_vertical {
    orient: vertical;
}

.tooltip {
    background: #303030;
    foreground: #f7f7f7;
    font: TkDefaultFont 8;
}

.labelframe {
    borderwidth: 2;
}

.hyperlink {
    foreground: #3d8aff;
}

.textarea {
    background: #303030;
    foreground: #f7f7f7;
    relief: flat;
    insertbackground: #f7f7f7;
    font: TkDefaultFont 10;
}
